PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
SENDGRID_API_KEY=xxx
MAIL_USERNAME=your@email.com